body {
  background: #e0e5ec;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Thin", sans-serif;
  font-family: "Roboto Light", sans-serif;
  font-family: "Roboto Medium", sans-serif;
  font-family: "Roboto Black", sans-serif;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}

button {
  display: block;
  border: none;
  padding: 1rem 2rem;
  margin: 0 auto;
  text-decoration: none;
  background: #000000;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
}

button:hover,
button:focus {
  background: #303233;
}

select {
  display: block;
  border: none;
  padding: 1rem 2rem;
  margin: 0 auto;
  text-decoration: none;
  background: #000000;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
